/*
 * This file is part of the CirruxCache project
 * http://code.google.com/p/cirruxcache/
 */

textarea {
	width: 80%;
}

h1 {
	color: #777777;
	padding: 15px;
}

h1, #tabs, #footer {
	margin: auto;
	width: 60%;
	min-width: 600px;
}

#flush>span:first-child, #store>span:first-child {
	display: block;
	text-align: center;
	color: #777777;
	padding-bottom: 5px;
}

#flush>textarea {
	height: 150px;
	width: 85%;
	font-size: 14px;
}

#flush>input[type=button] {
	float: right;
	width: 10%;
}

#flush>p:last-child {
	margin: 0px;
	font-size: 12px;
	font-style: italic;
}

#store>fieldset, #store>ul, #stats>ul {
	font-size: 14px;
}

#store>fieldset>legend, #store>ul {
	font-weight: bold;
}

#store>ul>li>span {
	font-weight: normal;
}

#store>fieldset>input[type=text] {
	display: inline;
	width: 60%;
}

#store>ul {
	list-style-type: none;
}

#store>ul>li>input[type=button] {
	border-width: 0px;
	margin-right: 10px;
}

#stats>input[type=button] {
	float: right;
}

#config fieldset {
	font-size: 14px;
}

#config fieldset>legend, #config>fieldset>p {
	font-weight: bold;
}

#config>fieldset>input, #config>fieldset>p, #config>fieldset>form, #config>fieldset>form>div {
	display: inline;
	margin-left: 20px;
}

#config>div {
	display: none;
}

#config>div>input {
	float: right;
}

#config>div>input+input+fieldset>input {
	float: right;
}

#configMapping>div:first-child>input:first-child {
	visibility: hidden;
}

#configServices>div:first-child {
	display: none;
}

#configServices>div>input {
	float: left;
	margin: 10px;
}

#configServices>div>fieldset>input[type=button] {
	float: right;
}

#configServices>div>fieldset>legend+input+div>input[type=button] {
	visibility: hidden;
}

#configServices>div>fieldset>div>p {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	cursor: help;
}

#footer {
	padding-top: 15px;
	text-align: center;
	font-size: 12px;
}
